.image-with-button {
    position: relative;
  }
  
  .button-overlay {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-100%, -80%);
    text-align: center;
  }
  
  .button-overlay button {
    margin: 5px;
  }